.gitignore
.vscode
.github
.editorconfig
**/.env
**/.venv
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
**/tsconfig.tsbuildinfo
**/out/
node_modules
client/node_modules/
server/node_modules/
client/src/
server/src/
scripts/
esbuild.js
eslint.config.mjs
SECURITY.md
